* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-LightItalic;
    src: url(Montserrat-LightItalic.ttf);
}
@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(Montserrat-MediumItalic.ttf);
}



body {
    min-width: 1280px;
    height: 100%;
    background-color: #FFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1280px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    min-width: 100%;
}

.alt-menu {
    display: none;
}

.menu a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    
}

.navigation {
    margin-left: 92.87px;
}

.send:hover {
    color: #6C63FF;
    transition-duration: 0.7s;
}

.receive:hover {
    color: #6C63FF;
    transition-duration: 0.7s;
}

.lang:hover {
    color: #6C63FF;
    transition-duration: 0.7s;
}

.navigation a {
    padding-right: 40.5px;
}

.works {
    margin-left: 53.5px;
    transition-duration: 0.7s;
}

.works:hover {
    color: #6C63FF;
}

.register {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.sign-but {
    cursor: pointer;
    display: block;
    width: 106px;
    height: 40px;
    background-color: #ffff;
    outline: 1.5px solid #B7B3B3;
    outline-offset: -1.5px;
    border: none;
    transition-duration: 0.5s;
}

.reg-but {
    cursor: pointer;
    display: block;
    width: 106px;
    height: 40px;
    background-color: #6C63FF;
    outline: 1.5px solid #B7B3B3;
    outline-offset: -1.5px;
    border: none;
    margin-left: 14px;
    transition-duration: 0.5s;
}

.reg-but a {
    color: #ffff;
}

.reg-but:hover {
    outline: 1.5px solid rgb(0, 0, 0);
    outline-offset: -1.5px;
}

.sign-but:hover {
    outline: 1.5px solid #6C63FF;
    outline-offset: -1.5px;
}

.page1 {
    display: flex;
    flex-direction: row;
    max-height: 562px;
    margin-top: 90px;
    max-width: 1204px;
    align-self: center;
}

.art1mob {
    display: none;
}

.block1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 423px;
    max-height: 327px;
    margin-right: 272px;
}

.block1 h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
}

.line1 {
    display: block;
    border-bottom: 3px solid #B7B3B3;
    width: 52px;
    height: 0;
    margin-top: 28px;
}

.block1 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    margin-top: 28px;
}

.buttons {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
}

.learn-but {
    cursor: pointer;
    display: block;
    width: 125px;
    height: 50px;
    background-color: #ffff;
    outline: 1.5px solid #B7B3B3;
    outline-offset: -1.5px;
    border: none;
    margin-left: 20px;
    transition-duration: 0.5s;
}


.learn-but:hover {
    outline: 1.5px solid #6C63FF;
    outline-offset: -1.5px;
}

.page1 .reg-but {
    margin-left: 0;
    width: 146px;
    height: 50px;
}

.page1 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.learn-but a {
    color: #000000;
}

.art {
    display: none;
}


.page2 {
    margin-top: 190px;
    max-height: 710px;
    max-width: 997px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 273px;
    transition-delay: 0.5s;
}

.text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 587px;
    max-height: 178px;
}

.text-block h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
}

.text-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    margin-top: 21px;
}

.line2 {
    display: block;
    border-bottom: 3px solid #B7B3B3;
    width: 49px;
    height: 0;
    margin-top: 12px;
}

.options-block {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.options-block h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    padding-bottom: 11px;
}

.options-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

.opt-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 337px;
}

.opt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-block img {
    padding-bottom: 56px;
}




.page3 {
    max-height: 710px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 156px;
}

.text3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 426px;
    margin-left: 196px;
}

.text3 h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #000000;

}

.text3 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.75;
}

.text3 a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #6C63FF;
    margin-top: 20px;

}

.line3 {
    display: block;
    border-bottom: 3px solid #B7B3B3;
    width: 86px;
    height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}




.page4 {
    max-height: 710px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 178px;
}

.text4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.text4 h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
}

.text4 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #B7B3B3;
    opacity: 0.8;
    margin-top: 28.5px;
    padding-bottom: 46.5px;
}

.line4 {
    display: block;
    border-bottom: 3px solid #B7B3B3;
    width: 49px;
    height: 0;
    margin-top: 26px;
}

.icon-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1074px;
    align-self: center;
    justify-content: space-evenly;
}

.icon-block h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    padding-bottom: 19px;

}

.icon-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #B7B3B3;
}

.icon {
    display: flex;
    flex-direction: row;
    max-width: 510px;
    padding-bottom: 106px;

}

.service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 403px;
    margin-left: 28px;
}

.service-phone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 403px;
    margin-left: 40.8px;
}

.page5 {
    max-height: 442px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    background-image: url(BG.svg);
    padding: 62px 0 74px 117px;
}

.text5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 152px;
    min-height: 268px;
    padding-right: 196px;
    margin: 0 auto;
}

.text5 h1 {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 300;
    font-size: 33px;
    line-height: 51px;
    
    color: #FFFFFF;
}

.text5 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 26px;
    max-width: 71px;
    padding-right: 11px;
}

.line5 {
    display: block;
    border-bottom: 2px solid #ffff;
    width: 58px;
    height: 0;
    margin-top: 12px;
    padding-top: 17px;
}

.see-more {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.circle {
    display: block;
    background-color: #FFFF;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 36px;
    width: 36px;
    align-self: flex-end;
}

.circle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}

.circle:hover {transition-duration: 0.7s; transform: translate(10px, 0);}

.photos {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 842px;
}

.designer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
    border-radius: 15px;
    max-width: 218px;
    max-height: 280px;
    padding: 23px 54px 24px 26px;
    margin-right: 18px;
}

.designer p {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;line-height: 35px;
    color: #000000;
    padding-bottom: 21px;
}

.photo-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
}

.dev {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 19px;
    align-self: flex-end;
}

.photo-card img {
    width: 59px;
    height: 59px;
}

.dev h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 175.9%;
    color: #000000;
}

.dev p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175.9%;
    color: #787777;
    margin-top: -2px; padding: 0;

}

.page6 {
    display: flex;
    flex-direction: row;
    max-height: 484px;
    padding: 106px 21px 107px 121px;
    margin: 0 auto;
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 317px;
    flex-wrap: wrap;
    margin-right: 106px;
}

.logo-block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #B7B3B3;
    margin-top: 53px;
}

.links {
    display: flex;
    flex-direction: row;
    width: 416px;
    height: 208px;
    justify-content: space-between;
}

.links h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8B8B8B;
    padding-bottom: 40px;
}

.links p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 40px;
}

.social {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6C63FF;
    align-items: center;
    border-radius: 25px;
    width: 183px;
    height: 224.5px;
    padding: 29px 21px 46.5px 19px;
    margin-left: 76px;
    margin-top: -30px;
}

.socialMOB {
    display: none;
}

.social h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 171px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contact p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}


@media (max-width: 768px) { 
    body {
        min-width: 768px;
        height: 100%;
        background-color: #FFFF;
    }
    .container {
        max-width: 768px;
        overflow: hidden;
    }

    .block1 h1{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 120%;
        color: #000000;
    }

    .menu {
        display: none;
    }
    .alt-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 60px;
        width: 768px;
        background-color: #FFFFFF;
        z-index: 1;
    }
    .logo {
        margin-left: 61px;
        margin-right: 80px;

    }
    .menu-but {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: #6C63FF;
        width: 60%;
        height: 100%;
    }

    .menu-but img {
        width: 38px;
        height: 23px;
        margin-right: 61px;
    }
   
   .page1 {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       align-items: flex-start;
       justify-content: space-around;
       max-height: 562px;
       margin-top: 150px;
       max-width: 768px;
       align-self: center;
       flex-shrink: 0;
   } 
    
    .block1 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        align-self: flex-start;
        width: 423px;
        max-height: fit-content;
        flex-shrink: 0;
        margin-right: 60px;
        margin-left: 40px;
    }

    .art1 {
        display: none;
        
    }

    .art1mob {
        display: block;
        background-image: url(ART1MOB.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 200px;
        height: 300px;
        align-self: flex-end;
    }

    .buttons {
        margin-top: 54px;
        display: flex;
        flex-direction: row;
    }

    .page2 {
        max-height: 900px;
        max-width: 768px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 150px;
        margin-top: 70px;
        padding: 0;
    }

    .options-block {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .options-block h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #000000;
        padding-bottom: 11px;
    }
    
    .options-block p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #000000;
        opacity: 0.6;
    }
    
    .opt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-height: 200px;
    }

    .opt-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 50%;
        margin-top: 3%;
    }

    .opt-text p {
        text-align: left;
    }

    .options-block img {
        width: 143px;
        height: 143px;
        margin-right:10% ;
        margin-top: 10%;
    }

    .text-block h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        color: #000000;
    }
    
    .text-block p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #000000;
        opacity: 0.6;
        margin-top: 10px;
    }

    .text-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 400px;
        max-height: 178px;
        align-self: center;
    }

    .art {
        margin-top: 80px;
        display: block;
        width: 100%;
        height: 60px;
        background-image: url(ARTMOB.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
    }

    .page3 {
        max-height: 710px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 156px;
    }

    .text3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 423px;
        height: 196px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .text3 h1 {
        font-size: 30px;
        line-height: 120%;
        text-align: center;
    
    }

    .text3 p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #000000;
        opacity: 0.75;
        text-align: center;
    }

    .text4 h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        color: #000000;
    }

    .icon-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 768px;
        align-self: center;
        justify-content: center;
    }

    .icon {
        display: flex;
        flex-direction: row;
        width: 510px;
        padding-bottom: 106px;
    
    }

    .text5 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 152px;
        min-height: 268px;
        padding-right: 130px;
    }

    .page6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 484px;
        padding: 50px 0 100px 0 ;
    }

    .social {
        display: none;
    }

    .socialMOB {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 316px;
        margin-top: 50px;
    }
    
    .logo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 317px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .logo-block p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #B7B3B3;
        margin-top: 40px;
        text-align: center;
    }

    .links {
        margin-top: 55px;
    }
    
    .facebook {
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(facebook.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
    }

    .instagram {
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(instagram.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
    }

    .twitter {
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(twitter.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
    }
}

@media (max-width: 425px) { 
    body {
        min-width: 425px;
        height: 100%;
        background-color: #FFFF;
    }
    .container {
        max-width: 425px;
        overflow: hidden;
    }

    .alt-menu {
        max-width: 425px;
    }

    .menu-but img {
        width: 30px;
        height: 20px;
    }

    .logo img {
        width: 127px;
        height: 32px;
    }

    .art1mob {
        display: none;
    }

    .page1 {
        max-width: 425px;
    }

    .block1 {
        max-width: 320px;
    }

    .art {
        max-width: 320px;
    }

    .opt img {
        height: 100px;
        width: 100px;
    }

    .opt-text p {
        font-size: 14px;
    }

    .page2 {
        margin-bottom: 50px;
    }

    .art3 img {
        height: 225px;
        width: 339px;
    }

    .text3 {
        max-width: 320px;
        height: 220px;
    }

    .text3 a {
        margin-top: 20px;
    }

    .page3 {
        margin-bottom: 100px;
    }

    .text4 {
        max-width: 320px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .line4 {
        margin: 0;
    }

    .icon-block {
        max-width: 320px;
        margin: 0 auto;
    }
    
    .icon-block h1 {
        font-size: 22px;
    }

    .icon-block p {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .page4 {
        max-height: 900px;
    }

    .page5 {
        flex-direction: column;
        padding: 0 0 50px 0;
        height: 500px;
    }

    .text5 {
        align-self: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 50px;
        min-height: 168px;
    }

    .text5 h1 {
        font-size: 25px;
    }

    .photos {
        margin-left: 50px;
        margin-top: 10px;
    }

    .designer {
        max-width: 218px;
        max-height: 280px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        
    }

    .designer p {
        font-size: 15px;
    }

    .links {
        justify-content: space-around;
        max-width: 320px;
    }

    .twitter,
    .instagram,
    .facebook {
        width: 60px; height: 60px;
    }
}

@media (min-width: 2560px) {
    .container {
        min-width: 2560px;
    }
}
